# Package metadata & documentation
include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include DISCLAIMER.md
include GOVERNANCE.md
include NOTICE
include ROADMAP.md
include SBOM.md
include SECURITY.md
include SUPPORT.md

# Configuration templates
include .env.example

# Documentation
recursive-include docs *.md

# Examples
recursive-include examples *.py *.json
recursive-include demo *.py *.ipynb *.md

# Assets
recursive-include assets/images *.png

# Exclude caches, temporary files and OS-specific files
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.swp
global-exclude *.DS_Store
global-exclude *.log
global-exclude .nox
